.brd{
    top: unset;
    background: #fff;
    box-shadow: 0px 6px 25px -8px rgb(0 0 0 / 63%);
    padding-left: 30px;
}
.logo{
    display: block;
    width: 72.67px;
    height: 39px;
    background: url(https://www.cargill.com/image/1432220384159/cargill-logo-header.png) no-repeat;
    background-size: contain;
    
    
}
