<div class="pt-5 pe-2 ps-2 center-flex">

    <div class="">
      <div class="txt_cnt ;">
        <h2 class="txt  wid-70 mt-4">Inspiration from our Culinary team featuring new menu items with versatile ingredients and ideas for meals that travel well.</h2></div>
    <div class="d-flex justify-content-center mt-4 mb-4 gap-3 flex_cnt">
        
          <div class="card ">
            <img src="assets/images/img2.png" class="card-img-top" alt="...">

            <div class="card-body">
              <a href="https://www.cargill.com/doc/1432163552079/cargill-get-to-know-the-culinary-team.pdf" target="_blank">
                <h3 class="card-text1">Get to Know our Culinary Team</h3>
              </a>
              
              <a href="https://www.cargill.com/doc/1432163552079/cargill-get-to-know-the-culinary-team.pdf" target="_blank">
                <button type="button" class="btn bold">Download</button>
              </a>
            </div>
            <div class="brd-clr"></div>
          </div>
          
        
        
  
          <div class="card" >
            <div class="rel">         
                 <img src="assets/images/chef-barry-preview.png" class="card-img-top" alt="...">
                 <!-- <div (click)="blinkOff(1)"><img data-bs-toggle="modal" data-bs-target="#Backdrop1"class="card-img-pos"src="assets/images/play.png"></div> -->
                 <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
                 <div (click)="blinkOff(1)"><img data-bs-toggle="modal" data-bs-target="#exampleModal"class="card-img-pos"src="assets/images/play.png"></div>
            </div>

            
            <div class="card-body">
              <h3>New Takes on Comfort Foods</h3>
              <p class="card-text">
                Chef Barry, from his home test kitchen, shows easy ways to use our versatile Cargill products to make new spins on classic comfort foods.</p>
            <a href="https://www.cargill.com/doc/1432164950074/cargill_new-takes-on-comfort-food.pdf" target="_blank">
              <button type="button" class="btn bold">Download Menu Ideas</button>
            </a>
                
            </div>
            <div class="brd-clr1"></div>
            
          </div>
  
      
       
        <!-- <div class="col-lg-4"> -->
          <div class="card" >
            <img src="assets/images/rost-beef-preview.png" class="card-img-top" alt="...">
            <div [class.blink]="this.blinkitem[1] !== true" (click)="blinkOff(1)"><img data-bs-toggle="modal" data-bs-target="#Backdrop2"class="card-img-pos"src="assets/images/play.png"></div>
            <div class="card-body">
              <h3>Menu Ideas with Roast Beef Deli</h3>
              <p class="card-text">
                Chef Janet, from the Cargill Culinary Team, demonstrates how to create a variety of menu items using Deli Roast Beef. </p>
                <a href="https://www.cargill.com/doc/1432164950431/cargill_menu-ideas-with-roast-beef.pdf" target="_blank">
                  <button type="button" class="btn bold">Download Menu Ideas</button>
                </a>
            </div>
            <div class="brd-clr2"></div>
          </div>
  
        <!-- </div> -->
    


    
        
        <div class="card" >
          <img src="assets/images/pork-belly-preview.png" class="card-img-top" alt="...">
          <div [class.blink]="this.blinkitem[1] !== true" (click)="blinkOff(1)"><img data-bs-toggle="modal" data-bs-target="#Backdrop3"class="card1-img-pos"src="assets/images/play.png"></div>
          <div class="card-body">
            <h3 class="card-text">Pork Belly Prep and Menu Ideas</h3>
            <p>Chef Brad, from the Cargill Culinary Team, demonstrates how easy it is to prep our Precooked Pork Belly and shows how you can simplify your menu by using this ingredient in multiple dishes</p>
            <a href="https://www.cargill.com/doc/1432164949735/cargill_pork-belly-prep-and-menu-ideas.pdf" target="_blank">
              <button type="button" class="btn bold">Download Menu Ideas</button>
            </a>
           
          </div>
          <div class="brd-clr1"></div>
        </div>
        

      

        <div class="card" >
          <img src="assets/images/img3.png" class="card-img-top" alt="...">
          <div [class.blink]="this.blinkitem[1] !== true" (click)="blinkOff(1)"><img data-bs-toggle="modal" data-bs-target="#Backdrop4"class="card1-img-pos"src="assets/images/play.png"></div>
          <div class="card-body">
            <h3>
                Beef Pot Roast Prep and Menu Ideas</h3>
            <p class="card-text">
              Chef Brad, from the Cargill Culinary Team, demonstrates how simple it is to prep our Precooked Beef Pot Roast and shows the many ways operators can use this ingredient to simplify their menu.</p>
              <a href="https://www.cargill.com/doc/1432164951778/cargill_beef-pot-roast-and-menu-ideas.pdf" target="_blank">
                <button type="button" class="btn bold">Download Menu Ideas</button>
              </a>
          </div>
          <div class="brd-clr2"></div>
        </div>


     
      <!-- <div class="col-lg-4"> -->
        <div class="card" >
          <img src="assets/images/img4.png" class="card-img-top" alt="...">
          <div [class.blink]="this.blinkitem[1] !== true" (click)="blinkOff(1)"><img data-bs-toggle="modal" data-bs-target="#Backdrop5"class="card1-img-pos"src="assets/images/play.png"></div>
          <div class="card-body">
            <h3>
                Turkey Pot Roast Prep and Menu Ideas</h3>
            <p class="card-text">
              Chef Barry, from the Cargill Culinary Team, talks about the versatility of our Precooked Turkey Pot Roast and demonstrates a variety of menu items. </p>
              <a href="https://www.cargill.com/doc/1432164949298/cargill_turkey-pot-roast-prep-and-menu-ideas1.pdf" target="_blank">
                <button type="button" class="btn bold">Download Menu Ideas</button>
              </a>
          </div>
          <div class="brd-clr"></div>
        </div>

      <!-- </div> -->
  
   



    </div>
  </div>

   <div  *ngIf="closevideo == true">
    <!-- <div class="modal fade zoom" id="Backdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabel1" aria-hidden="true"  >
      <div class="modal-dialog modal-dialog-centered justify-content-center">
          <div class="modal-content">
           
          
              <div class="modal-body">
                  <div class="close-icon" (click)="close()"> <img src="assets/images/close.png"> </div>
                  <div class="">
                      <div class=" justify-content-center c-pointer ">
                          <iframe width="800" height="450" src="https://youtube.com/embed/YTWyZgKGb6w">
                          </iframe>
                          </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div> -->

  <div class="modal fade zoom" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
      <div class="modal-content">

        <div class="modal-body">
          <div class="close-icon" data-bs-dismiss="modal"> <img src="assets/images/close.png"> </div>
          <div class="">
              <div class=" justify-content-center c-pointer ">
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                  <iframe width="800" height="450" src="https://youtube.com/embed/YTWyZgKGb6w">
                  </iframe>
                  </div>
          </div>
          
      </div>

      </div>
    </div>
  </div>

   </div>






<div *ngIf="closevideo == true">
    <div class="modal fade zoom" id="Backdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
             
            
                <div class="modal-body">
                  <div class="close-icon"  data-bs-dismiss="modal"> <img src="assets/images/close.png"> </div>
                    <div class="">
                        <div class="">
                           
                            <iframe title="vimeo-player" src="https://player.vimeo.com/video/496076898?h=cb7230a73a" width="800" height="450" frameborder="0" allowfullscreen></iframe>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>


  <div *ngIf="closevideo == true">
    <div class="modal fade zoom" id="Backdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
             
            
                <div class="modal-body">
                  <div class="close-icon" data-bs-dismiss="modal"> <img src="assets/images/close.png"> </div>
                    <div class="">
                        <div class="">
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                            <iframe width="800" height="450" src="https://youtube.com/embed/QNUUQ0fAUoc">
                            </iframe>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>


<div *ngIf="closevideo == true">
    <div class="modal fade zoom" id="Backdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
             
            
                <div class="modal-body">
                  <div class="close-icon" data-bs-dismiss="modal"> <img src="assets/images/close.png"> </div>
                    <div class="">
                        <div class=" justify-content-center c-pointer">
                  
                            <iframe width="800" height="450" src="https://youtube.com/embed/wsZIyZa_PzY">
                            </iframe>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  </div>


  <div *ngIf="closevideo == true">
    <div class="modal fade zoom" id="Backdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="BackdropLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
             
            
                <div class="modal-body">
                  <div class="close-icon" data-bs-dismiss="modal"> <img src="assets/images/close.png"> </div>
                    <div class="">
                        <div class=" justify-content-center c-pointer">
                   
                            <iframe width="800" height="450" src="https://youtube.com/embed/Pd6CHiN8z_o">
                            </iframe>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

  </div>
</div>


 




        
